%title_font {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

$title: #363838;
$default: #5a5a5a;



@function max($numbers...) {
  @return m#{a}x(#{$numbers})
}

@function min($numbers...) {
  @return m#{a}n(#{$numbers})
}
